build*/
.cache/
.vscode/
__pycache__/
.venv/
models*/
proj/

*.svg
*.data
*.folded
*.perf
Pipfile
tools/llama_tf_to_qnn_bin
tools/process_image
*.log
CMakeFiles/cmake.check_cache
third_party/android/arm64-v8a/libOpenCL.so
libs/xtl
libs/xtensor
libs/libuv
libs/json
libs/cpp-httplib
CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.o
libs/concurrentqueue
CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.o
CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.22.1/CMakeSystem.cmake
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
CMakeFiles/3.22.1/CMakeCCompiler.cmake
CPackSourceConfig.cmake
CPackConfig.cmake
CMakeCache.txt
libs/concurrentqueue
libs/cpp-httplib
libs/json
libs/libuv
libs/xtensor
backend_eval_outputs.txt
backend_eval_report.json
topk_eval_outputs.txt
topk_eval_report.json
